*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@font-face {
  font-family: sf-pro;
  src: url("./assets/fonts/SF-Pro-Display-Regular.otf"),
       url("./assets/fonts/SF-Pro-Display-Bold.otf"),
       url("./assets/fonts/SF-Pro-Display-Heavy.otf"),
       url("./assets/fonts/SF-Pro-Display-Medium.otf"),
       url("./assets/fonts/SF-Pro-Display-Light.otf");
}

:root {
  --Red-Inferno: #bb2c1e;
  --Flame-of-Prometheus: #d73800;
  --Freshly-Baked: #e5c185;
  --Fondue: #fbf2c4;
  --Neptune-Green: #7ebb9c;
  --Emperor-Jade: #018373;
  --Windows-95-Desktop: #008585;
  /* --tue-red: #C2222C; */
  --tue-red: #a01c24;

  --tag-font-size: 16px;
  --tag-icon-size: 24px;

  --contact-font-size: 16px;
  --contact-icon-size: 16px;

  /* --side-text-color: rgba(0, 0, 0, .75); */
  --side-text-color: white;
  --main-text-color: black;
  --header-color: var(--tue-red);

  --profile-img-size: 250px;
}

html {
	font-size: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	color: #333332;
	font-family: sf-pro, Lora, serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.4;
	text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
}

.left,
.right {
  background-color: rgba(0,0,0,.025);
  border-right: 1px solid rgba(0,0,0,.05);
  flex: 0 0 20%;
  min-width: 150px;
  height: 100%;
  overflow: hidden;
}

.left {
  background-color: var(--tue-red);
  color: var(--side-text-color);
}

.center {
  flex: 1 1 auto;             /* take remaining space */
  min-width: 0;               /* allow content to shrink without pushing sidebars */
  height: 100%;
  overflow: auto;             /* <— only this scrolls */
  -webkit-overflow-scrolling: touch; /* smoother on iOS */
}

.name-hero {
	background: rgba(0, 0, 0, .001);
	bottom: 0;
	height: 100vh;
	position: relative;
	width: 100%;
}

.centering {
	position: absolute;
	margin: 0;
	top: 50%;
	left: 50%;
	width: 90%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.me-img {
	background: url(assets/profile.jpeg) no-repeat center center;
	background-size: 100%;
	background-position: 0px 0px;
	border-radius: 100%;
	width: var(--profile-img-size);
	height: var(--profile-img-size);
	margin: 0 auto;
	position: relative;
}

.name-hero h1 {
	font-family: Open Sans, sans-serif;
	font-size: 1.5em;
	text-align: left;
}

.name-hero h1 em {
	color: rgba(0, 0, 0, .3);
	font-style: normal;
	font-weight: 700;
}

.name-hero .name-text {
	margin: 0 auto;
	text-align: left;
	width: 85%;
}

.inner {
	margin: 0 auto;
	max-width: 975px;
	padding: 3em;
}

.inner h1 {
	font-size: 1.75em;
	margin-left: -10px;
  color: var(--header-color);
}

.inner h2 {
	font-size: 1.4em;
	margin-bottom: 0;
}

.inner h2 em {
	font-size: .9em;
	color: rgba(0, 0, 0, .5);
}

.inner h4 {
	font-size: 1em;
	margin: 0;
	margin-bottom: 10px;
}

.inner p {
	color: rgba(0, 0, 0, .5);
}

.inner p em {
	color: rgba(0, 0, 0, 1);
	font-style: normal;
}

.inner section {
	margin: 50px auto;
	text-align: justify;
}

.inner ul {
	width: 95%;
	margin: auto;
	padding-left: 5px;
	text-align: justify;
	color: rgba(0, 0, 0, .7);
}

.skills h2, h3 {
  color: var(--tue-red);
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 0px;
}

.tag {
  color: white;
  background: var(--tue-red);

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: var(--tag-font-size);

  height: 34px;
  width: fit-content;
  margin: 5px;
  padding: 10px 15px;

  border-radius: 16px;

  list-style: none;
}

.tag:hover {
  opacity: 0.5;
}

.tag .tag-text {
  flex: 1 1 auto;
  text-align: right;
  font-weight: 600;
  margin-left: 5px;
  margin-top: calc((var(--tag-icon-size) - var(--tag-font-size)) / 4);
}

.tag .tag-image {
  flex: 0 0 auto;
  width: var(--tag-icon-size);
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tag .full {
  width: calc(2.5 * var(--tag-icon-size));
}

.tag .tag-image img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

*::-webkit-scrollbar {
  background-color: var(--light);
  width: 6px;
  margin: 0 2px;
}

*::-webkit-scrollbar-track {
  background-color: var(--light);
}

*::-webkit-scrollbar-thumb {
  max-height: 20px !important;
  border-radius: 16px;
  background-color: #babac0;
}

*::-webkit-scrollbar-button {
  display: none;
}

@media screen and (max-width: 48em) {

	.right,
	.left {
		float: none;
		position: relative !important;
		width: 100%;
		min-height: 500px;
	}

	.handmade {
		text-align: center !important;
		margin-top: 0px !important;
	}
}

@media screen and (max-width: 75em) {
	body {
		font-size: 16px;
	}
}

@media screen and (max-width: 60em) {
	body {
		font-size: 14px;
	}
}

.clearfix:after {
	content: " ";
	/* Older browser do not support empty content */
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.handmade {
	text-align: right;
	margin-top: 100px;
}

.handmade em {
	font-family: 'Shadows Into Light', cursive;
	font-size: 1.25em;
	margin-left: 5px;
}

.contact-info {
	width: 90%;
  margin: 2px;

	color: var(--side-text-color);
	font-size: .9em;
	line-height: 1.5;
}

.contact-info .contact-info-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  width: 100%;
  padding: 0px;
}

.contact-info .info {
  display: flex;
  align-items: center;
  justify-content: center;

  list-style: none;

  font-size: var(--contact-font-size);

  height: 28px;
  width: fit-content;
  margin: 0;
  padding: 0;
}

.contact-info .info .tag-text {
  flex: 1 1 auto;
  text-align: right;
  font-weight: 600;
  margin-left: 5px;
  margin-top: calc((var(--contact-icon-size) - var(--contact-font-size)) / 4);
}

.contact-info .info .tag-image {
  flex: 0 0 auto;
  width: var(--contact-icon-size);
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-info .info .tag-image img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.invert {
  filter: invert(100%);
}

li em {
	color: black;
	font-weight: bold;
}

.about-me {
	margin: 1cm auto 5px auto !important;
  color: var(--side-text-color);
	font-size: .9em;
	line-height: 1.5;
	margin: 0 8px 0 0;
	text-align: justify;
}

table {
	border-collapse: collapse;
	width: 95%;
	text-align: center;
	margin: 10px auto;
}

td {
	width: 20%;
}

tr:first-of-type {
	border-bottom: 2px solid black;
}

tr:not(:first-child) {
	font-weight: bold;
}

a {
	color: inherit;
}

.project {
	margin: 10px auto;
	padding-left: 5px;
}

*::-webkit-scrollbar {
	display: none;
}